/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
}
h2 {
  font-size: 3.8rem;
}
div.header {
  background-color: #F26E22;
}
div.header header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}
@media (min-width: 501px) {
  div.header header {
    width: 88%;
    margin: 0 auto;
  }
}
div.header header .logo {
  padding: 1rem 1rem;
}
@media (min-width: 501px) {
  div.header header .logo {
    padding: 1rem 2rem;
  }
}
div.header header .logo img {
  width: auto;
  height: 3rem;
  margin-right: 1rem;
}
div.header header .logo .title {
  font-family: 'Salsa', cursive;
  font-size: 2.4rem;
  color: white;
  position: relative;
  top: -0.5rem;
}
div.header header nav {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  padding-right: 1em;
  width: 65%;
}
@media (min-width: 501px) {
  div.header header nav {
    padding: 0;
    width: 55%;
  }
}
div.header header nav a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 0 1rem;
  margin-right: 1rem;
}
div.header header nav a:hover {
  color: #373737;
  border-bottom: 0.4rem solid #373737;
  cursor: pointer;
}
div.header header nav a:last-child {
  border: none;
  align-self: center;
  padding: 1rem;
  color: white;
  background-color: #f29122;
  margin-right: 0;
}
div.header header nav a:last-child:hover {
  background-color: #56A662;
}
.hero {
  height: 60vh;
  background-image: url('/assets/images/tyler-nix-bbw55-xjeJo-unsplash.jpg');
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}
@media (min-width: 501px) {
  .hero {
    height: 80vh;
    margin-bottom: 20vh;
    background-position: top right;
  }
}
@media (min-width: 801px) {
  .hero {
    background-size: cover;
    background-position: top center;
  }
}
.hero .bgFilter {
  height: 100%;
  width: 100%;
  background: #000000;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.55) 9%, rgba(255, 255, 255, 0) 70%);
  padding: 2em;
}
@media (min-width: 501px) {
  .hero .bgFilter .container {
    width: 88%;
    margin: 0 auto;
  }
}
.hero .bgFilter .message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  width: 85%;
  margin-top: 10%;
}
@media (min-width: 501px) {
  .hero .bgFilter .message {
    width: 85%;
  }
}
@media (min-width: 801px) {
  .hero .bgFilter .message {
    margin-left: 7%;
    width: 65%;
  }
}
.hero .bgFilter button {
  background-color: #56A662;
  color: white;
  width: 100px;
  border: none;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1.8rem;
}
.hero .bgFilter button:hover {
  background-color: #ffffff;
  color: #56A662;
}
.hero h1 {
  font-size: 3.6rem;
  color: white;
  margin-bottom: 2rem;
}
@media (min-width: 501px) {
  .hero h1 {
    line-height: 1.125;
  }
}
.howContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -16vh;
}
@media (min-width: 501px) {
  .howContainer {
    margin-top: -46vh;
  }
}
.howContainer h1 {
  font-weight: bold;
  color: white;
  font-size: 3.6rem;
  margin-bottom: 2rem;
}
@media (min-width: 501px) {
  .howContainer h1 {
    font-size: 5.4rem;
  }
}
@media (min-width: 801px) {
  .howContainer h1 {
    font-size: 6.4rem;
    margin-bottom: 6rem;
  }
}
.howContainer .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 501px) {
  .howContainer .cards {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 88%;
  }
}
.howContainer .cards .card {
  width: 90%;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  margin-top: 6rem;
  margin-bottom: 8rem;
}
@media (min-width: 501px) {
  .howContainer .cards .card {
    width: 30%;
  }
}
.howContainer .cards .card .bgCircle {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  display: inline-block;
  margin-top: -4.25rem;
}
.howContainer .cards .card .bgCircle img {
  height: 35px;
  width: auto;
  margin-top: 2.5rem;
}
.howContainer .cards .card .title {
  font-size: 2.4rem;
  margin: 2rem 0;
}
.howContainer .cards .card p {
  font-size: 1.6rem;
  color: #9a9a9a;
  margin: 2rem 4rem 4rem;
  line-height: 1.9rem;
}
@media (min-width: 501px) {
  .howContainer .cards .card p {
    margin: 2rem 3rem 2rem;
  }
}
.howContainer .cards .card:first-child {
  border-bottom: 6px solid #F26E22;
}
.howContainer .cards .card:first-child .bgCircle {
  background-color: #F26E22;
}
.howContainer .cards .card:nth-child(2) {
  border-bottom: 6px solid #56A662;
}
.howContainer .cards .card:nth-child(2) .bgCircle {
  background-color: #56A662;
}
.howContainer .cards .card:last-child {
  border-bottom: 6px solid #034AA6;
}
.howContainer .cards .card:last-child .bgCircle {
  background-color: #034AA6;
}
.howContainer .cards h1 {
  font-size: 3.6rem;
}
.findLocation {
  padding: 0 0 4rem;
}
@media (min-width: 501px) {
  .findLocation {
    width: 88%;
    margin: 0 auto;
  }
}
.findLocation .findContainer {
  display: flex;
  flex-direction: column;
}
@media (min-width: 501px) {
  .findLocation .findContainer {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.findLocation .findContainer div {
  width: 88%;
  margin: 0 auto;
  align-self: center;
}
.findLocation .findContainer div img {
  width: 100%;
}
.findLocation .findContainer div .priceBox {
  position: relative;
  display: inline-block;
  top: -2.5rem;
  left: 80%;
  color: white;
  background-color: #034AA6;
  padding: 1.5rem;
}
@media (min-width: 501px) {
  .findLocation .findContainer div .priceBox {
    top: -2.5rem;
    left: 75%;
  }
}
.findLocation .findContainer div h2 {
  margin: 2rem 0;
}
@media (min-width: 501px) {
  .findLocation .findContainer div h2 {
    margin-bottom: 1rem;
    font-size: 2.4rem;
    width: 75%;
  }
}
@media (min-width: 801px) {
  .findLocation .findContainer div h2 {
    font-size: 4rem;
  }
}
.findLocation .findContainer div p {
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 2rem 0;
  width: 85%;
}
.findLocation button {
  background-color: #56A662;
  color: white;
  width: 100px;
  border: none;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1.8rem;
}
.findLocation button:hover {
  background-color: #ffffff;
  color: #56A662;
}
.listLocation {
  width: 100%;
  margin: 8rem auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 501px) {
  .listLocation {
    flex-direction: row;
    justify-content: space-between;
  }
}
.listLocation div {
  width: 100%;
  height: 40vh;
  color: #ffffff;
}
@media (min-width: 501px) {
  .listLocation div {
    width: 50%;
    height: autovh;
  }
}
.listLocation div button {
  background-color: #F26E22;
  color: white;
  width: 100px;
  border: none;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1.8rem;
}
.listLocation div button:hover {
  background-color: #ffffff;
  color: #F26E22;
}
.listLocation .one {
  background-image: url('/assets/images/sergei-akulich-ZNkvxIPPVeE-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1.8rem;
  display: none;
  padding: 2rem 2rem;
  color: #373737;
}
@media (min-width: 501px) {
  .listLocation .one {
    display: block;
  }
  .listLocation .one p {
    margin: 4rem auto;
    color: white;
    text-shadow: 1px 1px #333;
  }
}
@media (min-width: 801px) {
  .listLocation .one {
    display: block;
    height: auto;
  }
}
.listLocation .two {
  padding: 3rem;
  background-color: #F26E22;
  background-image: url('/assets/images/sergei-akulich-ZNkvxIPPVeE-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 501px) {
  .listLocation .two {
    background-image: none;
    padding: 6rem;
  }
}
.listLocation .two h2 {
  width: 85%;
  font-size: 3.6rem;
  margin: 2rem 0;
  color: white;
  text-shadow: 1px 1px #333;
}
@media (min-width: 501px) {
  .listLocation .two h2 {
    text-shadow: none;
    width: 100%;
    font-size: 3.2rem;
    color: #ffffff;
  }
}
@media (min-width: 501px) {
  .listLocation .two button {
    display: none;
  }
}
.mobileApp {
  display: flex;
  justify-content: space-evenly;
}
@media (min-width: 501px) {
  .mobileApp {
    width: 88%;
    margin: 0 auto;
    justify-content: space-between;
  }
}
@media (min-width: 801px) {
  .mobileApp {
    justify-content: space-evenly;
  }
}
.mobileApp div {
  align-self: center;
}
.mobileApp .searchText {
  width: 88%;
  margin: 0 auto;
}
@media (min-width: 501px) {
  .mobileApp .searchText {
    width: 59%;
  }
}
.mobileApp .searchText h2 {
  width: 100%;
}
@media (min-width: 501px) {
  .mobileApp .searchText h2 {
    width: 75%;
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 801px) {
  .mobileApp .searchText h2 {
    font-size: 4rem;
  }
}
.mobileApp .searchText p {
  margin: 2rem 0;
  font-size: 1.6rem;
  line-height: 1.5;
}
@media (min-width: 801px) {
  .mobileApp .searchText p {
    width: 65%;
  }
}
.mobileApp .searchText .storeLinks {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8rem;
}
@media (min-width: 501px) {
  .mobileApp .searchText .storeLinks {
    margin-top: 4rem;
  }
}
@media (min-width: 801px) {
  .mobileApp .searchText .storeLinks {
    margin-top: 6rem;
  }
}
.mobileApp .searchText .storeLinks img {
  width: 35%;
  margin-right: 2rem;
}
@media (min-width: 801px) {
  .mobileApp .searchText .storeLinks img {
    width: auto;
  }
}
.mobileApp .phoneGraphic {
  display: none;
  text-align: center;
}
@media (min-width: 501px) {
  .mobileApp .phoneGraphic {
    display: block;
    width: 49%;
  }
}
.mobileApp .phoneGraphic img {
  width: 100%;
  height: auto;
}
@media (min-width: 801px) {
  .mobileApp .phoneGraphic img {
    width: 85%;
    text-align: center;
    align-content: center;
  }
}
footer {
  background-color: #56A662;
  margin-top: 2rem;
  padding: 2rem 6rem;
  color: #ffffff;
  font-size: 1.1rem;
}
footer .footerContainer {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
footer .footerContainer img.social {
  width: 3rem;
  height: auto;
  margin: 1rem auto;
}
footer .footerContainer nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
footer .footerContainer nav div {
  display: flex;
  flex-direction: column;
}
footer .footerContainer nav a {
  text-decoration: none;
  color: white;
  padding: 0.25rem 0.5rem;
}
footer .footerContainer .copyright {
  text-align: center;
}
