

.container-top{
    position: relative;
    height: 75vh;
    background-image: url(../assets/images/brooke-cagle-g1Kr4Ozfoac-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;

    @media @phone {
        .measurements(60vh, 100%);        
    }   
   
    .bg-image {
        background-color: rgba(0, 0, 0, 0.4);
        .measurements(100%, 100%);
        
      @media @phone {
          .measurements(60vh, 100%);
        }                 
    }//ends bg-image

    .about {
        padding: 2% 15%;
        background-color: #FFFFFF;        
        position: absolute;
        right: 5%;
        bottom: -6%;
        
        @media @tab {
            bottom: -2%;
        }

        @media @phone {
            bottom: 0;
            font-size: 3.8rem;
            right: 29%;
            padding: 2% 10%;
        }

        h1 {
            color: @dark;
            text-align: center; 
            padding-top: 1%;  

            @media @tab {
            font-size: 5.2rem;
            }

            @media @phone {
                font-size: 4rem;
            }                    
        }//ends h1
    }//ends about
}//ends container




.container-middle {
    
    .mission{
        width: 70vw;
        // border: 1px solid orange;
        padding: 3%;

        @media @phone {
            width: 100%;
        }
        h3 {
            color: @lightFont;
            font-size: 2.4rem;
            padding-bottom: 4%;            
        }
        h2 {
            padding: 3% 0;
        }
        p {
            font-size: 1.8rem;
            color: @dark;            
        }//ends p
    }//ends mission
}//ends container middle


.team{

    @media @tab {
        padding: 4% 35%;
    }

    @media @phone {
        padding: 4% 25%;
    }
    h2 {
    font-size: 4.8rem;
    padding: 3%;  
    }//ends h2
}//ends team


.container-bottom {
    
    .teampics {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 70%;
        margin: 0 auto;
   
      @media @phone{
          justify-content: space-evenly;
      }
        
        .bubbles { 
            padding: 3%;

            img {
                .measurements(125px, 125px);                
                border-radius: 100%;
            }//ends img

            img:hover {
                border: 2px solid @hoverColor;
            }//ends img hover
            h2 {
                font-size: 1.8rem;
                color: black;
                text-align: center;
                padding-top: 3%;
            }//ends h2

            h2:hover {
                .decoration(underline, @hoverColor);              
            }

            p {
                font-size: 1.4rem;
                color: @lightFont;
                text-align: center;
                padding-top: 3%;
            }//ends p

            p:hover {
                .decoration(underline, @hoverColor);
            }

        }//ends bubbles
    }//ends teampics
}//ends container bottom