


.container-top{
    position: relative;
    height: 75vh;
    background-image: url(../assets/images/brooke-cagle-g1Kr4Ozfoac-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;

    .bg-image {
        background-color: rgba(0, 0, 0, 0.4);
        height: 100%;
        width: 100%;        
    }//ends bg-image

    .about {
        height: 11%;
        width: 30%;
        background-color: #FFFFFF;
        // border: 1px red solid;
        position: absolute;
        right: 5%;
        bottom: -2%;
        display: flex;
        justify-content: center;
        align-self: flex-end;
        align-items: center;

        h1 {
            color: @dark;
            text-align: center; 
            padding-top: 2%;           
        }//ends h1
    }//ends about
}//ends container




.container-middle {
    

    .mission{
        width: 70%;
        // border: 1px solid orange;
        padding: 3%;
        h3 {
            color: @lightFont;
            font-size: 2.4rem;
            padding-bottom: 4%;            
        }
        h2 {
            padding: 3% 0;
        }
        p {
            font-size: 1.8rem;
            color: @dark;
        }//ends p
    }//ends mission
}//ends container middle


.team{
    h2 {
    font-size: 4.8rem;
    padding: 3%;

    @media @tab {
        align-text: center;
    }

    }//ends h2
}//ends team


.container-bottom {
    
    .teampics {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 70%;
        margin: 0 auto;
   
    .bubbles { 
        padding: 3%;

        img {
            height: 125px;
            width: 125px;
            border-radius: 100%;
        }//ends img

        img:hover {
            border: 2px solid @hoverColor;
        }//ends img hover
        h2 {
            font-size: 1.8rem;
            color: black;
            text-align: center;
            padding-top: 3%;
        }//ends h2

        h2:hover {
            text-decoration: underline;
            text-decoration-color: @hoverColor;
        }

        p {
            font-size: 1.4rem;
            color: @lightFont;
            text-align: center;
            padding-top: 3%;
        }//ends p

        p:hover {
            text-decoration: underline;
            text-decoration-color: @hoverColor;
        }

    }//ends bubbles
}//ends teampics
}//ends container bottom