@bodyFont: 'Roboto', sans-serif;
@salsaFont: 'Salsa', cursive;

// Style Colors
@orange: #F26E22;
@green: #56A662;
@blue: #034AA6;
@dark: #373737;

//
@navLinkColor: white;

// Responsive
@mobile: ~'(max-width: 500px)';
@tablet: ~'(min-width: 501px)';
@desktop: ~'(min-width: 801px)';
