@bodyFont: 'Roboto', normal;
@salsaFont: 'Salsa', cursive;

// Style Colors
@orange: #F26E22;
@green: #56A662;
@blue: #034AA6;
@dark: #373737;
@txtColor: #ffffff;

@hoverColor: #1089ff;
@lightFont: #C4C4C4;

@txtShadow: 1px 1px #333;

//
@navLinkColor: white;

// Responsive
@smaller: ~'(max-width: 450px)';
@mobile: ~'(max-width: 500px)';
@tablet: ~'(min-width: 501px)';
@desktop: ~'(min-width: 801px)';

//about responsive
@phone: ~'(max-width: 500px)';
@tab: ~'(max-width: 800px)';